@import "tailwindcss";

:root {
  --dark: #1E293B;
  --gray: #475569;
  --lightgray: #94A3B8;
  --border-gray: #E2E8F0;
  --purple: #4F46E5;
  --green: #22C55E;
  --white: #fff;
  --blue: #192BE4;
}

@custom-variant hocus {

  &:hover,
  &:focus {
    @slot;
  }
}

@theme inline {
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-lightgray: var(--lightgray);
  --color-border-gray: var(--border-gray);
  --color-purple: var(--purple);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --font-sans: var(--font-plus-jakarta-sans);
  /* --font-mono: var(--font-geist-mono); */
}

/* для чёрной темы
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--white);
  color: var(--dark);
  font-family: var(--font-plus-jakarta-sans);
}